{% load static from staticfiles %}

<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

        <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
      -->
        <title>Stocks</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>Stocks List</h1>

        <p></p>
        <form class="site-form" action="/stocks/addstocks" method="post">
          {% csrf_token %}
          {{form_A}}
          <input type="submit" id="the_input0" value="Add Stock">
        </form>

        <div id="btn_holder" text-align="center">
          <select id='selector' name="Selector" style="width:5%"">
            {% for stock in Stocks %}
              <option value="{{stock.stock_symbol}}">{{stock.stock_symbol}}</option>
            {% endfor %}
          </select>
          <button id="plot_btn" type="button" name="button1" style="width:5%">Plot Selection</button>
          <button id="add_plot_btn" type="button" name="button2" style="width:5%">Add To Plot</button>
        </div>

        <!--<button id="new_plot_btn" width="10px">Plote Stock</button>
        <form id="plot-form" class="site-form" method="get">
          {% csrf_token %}
          {{form_B}}
          <input type="submit" id="the_input1" value"Plote Stock">
        </form>-->

          <div class="container" style="height:40%; width:80%">
            <canvas class="main_chart" id="myChart"></canvas>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js"></script>
          <script name='runjs' type='text/javascript'>
            {% block jquery %}

            canvas = document.getElementById('myChart');
            var myChart = canvas.getContext('2d');
            var stockChart = createChart(myChart)
            function createChart(myChart){
              var cleanChart = new Chart(myChart, {
                type:'line',

                data:{
                  labels:'',
                  datasets:[{
                    label:[],
                    data:[],
                    borderColor:'#32CD32',
                    fill:false,
                    pointRadius: 0,
                  }],
                },
                options:{
                  responive: false,
                  maintainAspectRatio: false,
                  legend:{
                    label:{
                      fontColor:'white',
                    },
                  },
                },
              })
              return cleanChart
            }

            var append = false
            $(document).ready(function() {
              $('#plot_btn').click(function() {
                append = false
                fxn_new($('#selector').val(),append)
              });
              $('#add_plot_btn').click(function() {
                append = true
                fxn_new($('#selector').val(),append)
              });
            });
            function fxn_new(sel,append){
              event.preventDefault();
              var endpoint = 'getData'
              var chart_labels = []
              var chart_data = []
              var chart_name = ""
              var symbol = sel
              plotFxn2(endpoint,chart_labels,chart_data,chart_name,symbol,append)
            }
            function plotFxn2(endpoint,chart_labels,chart_data,chart_name,symbol,append){
              $.ajax({
                method: "GET",
                url: 'getData',
                data:{symbol:symbol},
                success: function(data){
                  console.log(data)
                  chart_labels = data.dates
                  chart_data = data.values
                  chart_name = symbol
                  Chart.defaults.global.defaultFontColor = 'white'

                  if (stockChart!=null && append == false){
                    stockChart.destroy()
                    console.log("I DESTROYED YOUR OLD CHART!")
                    stockChart = createChart(myChart)
                  }
                  if (append){
                    newDataSet = {
                      labels:chart_labels,
                        datasets:{
                          label:chart_name,
                          data:chart_data,
                          borderColor:'#32CD32',
                          fill:false,
                          pointRadius: 0,
                        },
                      }

                      stockChart.data = newDataSet;
                      console.log(stockChart.data)
                  }
                  else{

                    stockChart.data = {
                      labels:chart_labels,
                      datasets:[{
                        label:chart_name,
                        data:chart_data,
                        borderColor:'#32CD32',
                        fill:false,
                        pointRadius: 0,
                      }],
                    },
                    stockChart.update();
                  }
                },
              });
            }



            var endpoint = 'getData'
            var chart_labels = []
            var chart_data = []
            var chart_name = ""
            var symbol = "INTL"
            plotFxn2(endpoint,chart_labels,chart_data,chart_name,symbol)

          {% endblock %}
          </script>
        <div class='sidenav'>
          <table style="{% static 'styles.css' %}">
            {% for stock in Stocks %}
              <tr style="{% static 'styles.css' %}">
                  <th style="{% static 'styles.css' %}">{{stock.stock_name}} : {{stock.stock_symbol}}</th>
                  <!--<td><h3 style="text-align: right">{{stock.stock_symbol}}</h3></td>
                  -->
              </tr>
            {% endfor %}
          </table>
        </div>
        <!--<div class="Stock Names">
            {% for stock in Stocks %}
            <h3><a href="#">{{stock.stock_name}} : {{stock.stock_symbol}}</a></h3>
            <p>Add Date: {{stock.dates}}</p>
            {% endfor %}
        </div>-->
    </body>
</html>
